@{
	ViewData["Title"] = "Clients";
}

<partial name="Partials/Sections/_AddClientForm" />
<partial name="Partials/Sections/_EditClientForm" />

<section id="clients">
	<header>
		<h2>Clients</h2>
		<button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-add btn-blue">Add Clients</button>
	</header>

	<div class="surface">
		<partial name="partials/Sections/_ClientList" />
	</div>

</section>