@{
	ViewData["Title"] = "Team Members";
}

<section id=" team-members">
	<header>
		<h2>Team Members</h2>
		<button type="button" class="btn btn-add btn-blue">Add Members</button>
	</header>
</section>

