<header>
	<div class="container">
		<div class="section-header">
			<h1>@ViewData["Title"]</h1>

			<div class="btn-group">
				@if (signInmanager.IsSignedIn(User)) {
                    <a asp-action="SignOut" asp-controller="Auth" class="btn btn-signup">Sign Out</a>
				}
				else 
				{
					<a asp-action="SignUp" asp-controller="Auth" class="btn btn-signup">Sign Up</a>
				    <a asp-action="SignIn" asp-controller="Auth" class="btn btn-signin">Sign In</a>

				}				
			</div>
		</div>
	</div>
</header>
