/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/* variable schene */
:root {
    --font-standard: "Nunito", sans-serif;
    --font-logo: "Comfortaa", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    --size-tablet: 768px;
    --size-desktop: 1400px;
    --white-100: #ffffff;
    --white-200: #f5f7fa;
    --white-300: #f1f3f7;
    --white-400: #f0f1f5;
    --gray-100: #e8eaed;
    --gray-200: #ebeef2;
    --gray-300: #e3e5e8;
    --gray-400: #e8e8e8;
    --gray-500: #dedede;
    --gray-600: #c6c8cc;
    --gray-700: #9e9e9e;
    --gray-800: #637085;
    --dark-100: #1a1926;
    --dark-200: #1c1d1f;
    --dark-300: #202123;
    --dark-400: #28263b;
    --dark-500: #333333;
    --dark-600: #38383b;
    --yellow: #ffD422;
    --yellow-dark: #fcbb42;
    --orange: #ff9640;
    --orange-dark: #f09330;
    --red: #ff6640;
    --red-dark: #e94d3f;
    --green: #31d482;
    --green-dark: #24b26b;
    --blue: #2cd9d9;
    --blue-accent: #2d99ff;
    --darkblue: #2d7dcc;
    --darkaccent: #2682d9;
    --purple: #826af9;
    --darkpurple: #634cd4;
    --text-color: var(--dark-400);
    --headline-color: var(--dark-100);
    --border-color: var(--gray-500);
    --background-color: var(--white-300);
    --btn-blue-text-color: var(--white-100);
    --btn-blue-border-color: var(--white-100);
    --btn-blue-text-hover-color: var(--white-100);
    --btn-blue-border-hover-color: var(--white-100);
    --btn-blue-background-color: var(--blue-accent);
    --btn-blue-background-hover-color: var(--darkaccent);
    --btn-gray-text-color: var(--dark-100);
    --btn-gray-border-color: var(--white-300);
    --btn-gray-background-color: var(--white-400);
    --btn-gray-text-hover-color: var(--dark-100);
    --btn-gray-border-hover-color: var(--gray-100);
    --btn-gray-background-hover-color: var(--gray-100);
    --surface-color: var(--white-100);
}

[data-theme="dark"] {
    --text-color: var(--dark-400);
    --headline-color: var(--dark-100);
    --border-color: var(--gray-500);
    --background-color: var(--white-200);
}

/* base */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 16px;
    font-weight: var(--font-regular);
    font-family: var(--font-standard);
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* structure */
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.surface {
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--surface-color);
    box-shadow: 0 4px 4px 3px rgba(196, 196, 196, 0.1);
}

.portal {
    display: grid;
    grid-template-columns: minmax(50px, 270px) 1fr;
    grid-template-rows: minmax(80px, auto) 1fr;
    grid-template-areas: "side top" "side main";
    height: 100dvh;
}

    .portal > .side {
        grid-area: side;
        border-right: 1px solid var(--border-color);
        padding: 1rem;
    }

    .portal > .top {
        grid-area: top;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 5rem;
        align-items: center;
    }

    .portal > .main {
        grid-area: main;
        padding: 2rem;
    }

/* typography */
h1, h2, h3, h4, h5, h5, h6 {
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 32px;
    font-weight: var(--font-bold);
}

h3 {
    font-size: 28px;
    font-weight: var(--font-bold);
}

h4 {
    font-size: 24px;
    font-weight: var(--font-semibold);
}

h5 {
    font-size: 20px;
    font-weight: var(--font-semibold);
}

h6 {
    font-size: 18px;
    font-weight: var(--font-semibold);
}

/* links */
.nav-link {
    font-family: var(--font-standard);
    font-size: 15px;
    font-weight: var(--font-semibold);
}

.tab-link {
    font-family: var(--font-standard);
    font-weight: var(--font-bold);
    font-size: 15px;
}

/* buttons */
.btn {
    border-radius: 14px;
    font-size: 1em;
    font-weight: var(--font-regular);
    font-family: var(--font-standard);
    padding: 0.7rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn-blue {
    color: var(--btn-blue-text-color);
    border-color: var(--btn-blue-border-color);
    background-color: var(--btn-blue-background-color);
}

    .btn-blue:hover {
        color: var(--btn-blue-text-hover-color);
        border-color: var(--btn-blue-border-hover-color);
        background-color: var(--btn-blue-background-hover-color);
    }

.btn-gray {
    color: var(--btn-gray-text-color);
    border-color: var(--btn-gray-border-color);
    background-color: var(--btn-gray-background-color);
}

    .btn-gray:hover {
        color: var(--btn-blue-text-hover-color);
        border-color: var(--btn-blue-border-hover-color);
        background-color: var(--btn-blue-background-hover-color);
    }

/* list */

/* comonents */

/* sections */

/* viewa page */
